.room {
  height: 100vh;
  width: 70%;
  background-color: rgb(44, 44, 44);
  
  &__header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    height: 7%;

    &_image {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    &_title {
      margin-right: auto;
      color: #fff;
    }

    &_search {
      margin-right: 20px;
    }

    &_search,
    &_options {
      width: 45px;
      height: 45px;
      padding: 5px;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: rgba(170, 170, 170, 0.08);
      }
    }
  }

  &__chat {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 93%;
    background-color: rgb(20, 20, 20);
  }

  &__conversation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 120px;
  }

  &__message {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &_textarea {
      width: 60%;
      height: 100px;
      padding: 20px 40px;
      margin-right: 20px;
      border-radius: 10px;
      border: none;
      border-bottom-right-radius: 0;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      resize: none;
      background-color: rgb(44, 44, 44);

      &::placeholder {
        color: #a2acb4;
      }

      &:focus {
        outline: none;
      }
    }

    &_send_btn {
      position: relative;
      padding: 15px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: rgba(170, 170, 170, 0.08);
      }

      svg {
        position: absolute;
        top: 8px;
        left: 10px;
      }
    }
  }
}
